.box{    
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 8px;   
    margin-top: 40px;
    margin-bottom: 0;
   
    .wrapInfo{
        padding: 10px;        
        border-radius: 7px;
        border: 1px solid rgba(127, 165, 55, 0.5);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        td img {
            height: 50px;
            width: 50px;
        } 
        .search{
            padding: 3px;
            padding-left: 0;
            padding-right: 0;
        }
        div > button{
            margin-right: 10px; 
        }

        .users {
            margin-top: 20px;
            
            .border-bottom-1 {
                border-bottom :1px solid #cecece;
                margin: 5px;
                margin-left: 3px;
                margin-right: 3px;
    
            }
        }
    }
}

.mytr {
    
	& :active,
	& :hover,
	& :focus {
	  cursor: pointer;
	  color: #ff0000;
	}

}

