// Use this file to add styles into your project

// Use corporative font
body {
    font-family: 'Lato', sans-serif;
}

// Sample
.main {
    text-align: center;
    .hello {
        color: #652d87;
    }
}
